body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    background-color: #ffff;
    
    
}
#nav-ber{
    background-color: black;
    padding: 10px;
    margin-top: 0px;
    text-align:center;
    
    
    
}
li{
    display: inline;
    color: white;
    margin: 10px 15px;
    
    


}
li a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    text-transform: uppercase;
    
    

}
li a:hover{
    background-color: orange;
    padding: 10px;
}

#top-sec{
    margin: auto;
    display: flex;
    padding: 5% 6%;
    

    
    
}
.collam1{
    width: 50%;
    margin: auto;
    
}
.collam2{
    width: 50%;
}
.header{
    font-size: 60px;
    color: #575757;;
    font-weight: 700;    
}
.span1{
    color: orange;

}
p{
    size: 18px;
    color: #575757;
    font-weight: 400;
    margin-bottom: 50px;
    width: 50%;
}
.collam2 img{
    width: 80%;
    float: right;
    
}
.button{
    text-decoration: none;
    background-image: linear-gradient( orange,red);
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 50px;
    
}
#about{
    display: flex;
    background-image: url(asstest/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    margin-bottom: 50px;
    

}
.collam1 img{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    float: right;
    
    
}
#about-collam1{
    width: 30% !important;
}
#about-collam2{
    width: 40% !important;
    margin: auto;
    
    
}
##about-collam2 p{
    width: 100%;
}
.section-rec{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 88%;
    margin-bottom: 50px;
    
}
.rec-cont{
    width: 100%;
}
.menu{
    display: flex;
    overflow: hidden;
}
.rec-collam{
    width: 33%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    border-radius: 25px;
    margin-right: 30px;
    margin-left: 30px;
    box-shadow: 5px 10px 30px -10px rgb(155, 155, 155);
    margin-bottom: 50px;
    margin-top: 20px;

}


.rec-img{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 25px;
}
.rec-tittle{
    margin-left: 25px;
    font-size: 30px;
}
.rec-pra{
    margin-left: 25px;
    font-size: 18px;
    width: 90% !important;
}
#rec-header{
    text-align: center;
}
#rec-p{
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
}
#contact{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#contact-form{
    background-color: white;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 5px 10px 30px -10px rgb(155, 155, 155);
    margin-bottom: 50px;
}
.contact-h h1{
    font-size: 50px;
    text-align: center;
    
}
input{
    display: block;
    margin: 10px;
    width: 100%;
    padding: 10px;
    font-weight: 700;
    

}
textarea{
    display: block;
    margin: 10px;
    width: 100%;
    padding: 10px;
    font-weight: 700;
    font-family: ;

    
    
}
.btn{
    display: block;
    margin: 10px;
    width: 10%;
    background-image: linear-gradient( orange,red);
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    
}
#info-section{
    background-color:white;
    width: 90%;
    margin: auto;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 5px 10px 30px -10px rgb(155, 155, 155);
    margin-bottom: 50px;
    
}
#info{
    display: flex;
  
}
.info-collam{
    width: 33%;
    margin-left: 100px;
    
}
.info-collam h1{
    font-size: 50px;
    text-align: center;
    font-weight: 900;
    margin-bottom: -20px;

}
.info-collam p{
    font-size: 18px;
    text-align: center;
    width: 100%;
    font-weight: 600;
    line-height: 20px;

}

#footer-section{
    padding: 50px 0px;
    background-color: black
}
#footer h1{
    font-size: 30px;
    color: white;
    text-align: center;

}
#footer p{
    text-align: center;
    width: 100%;
    color: rgba(255, 255, 255, 0.623);
    font-size: 18px;
}