body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    background-color: #ffff;
    
    
}
#nav-ber{
    background-color: black;
    padding: 10px;
    margin-top: 0px;
    text-align:center;
    
    
}
li{
    display: inline;
    color: white;
    margin: 10px 15px;
    
    


}
li a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    
    

}
li a:hover{
    background-color: orange;
    padding: 10px;
}

.section1{
    margin: auto;
    display: flex;
    padding: 5% 6%;
    

    
    
}
.collam1{
    width: 50%;
    
}
.collam2{
    width: 50%;
}
.header{
    font-size: 60px;
    color: #575757;;
    font-weight: 700;    
}
.span1{
    color: orange;

}
p{
    size: 18px;
    color: #575757;
    font-weight: 400;
    margin-bottom: 50px;
    width: 50%;
}
.collam2 img{
    width: 80%;
    float: right;
    
}
.button{
    text-decoration: none;
    background-image: linear-gradient( orange,red);
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 50px;
    
}
#about{
    background-image: url(asstest/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

}
.collam1 img{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#about-collam1{
    width: 50% !important;
}
#about-collam2{
    width: 40% !important;
    margin: auto;
    
    
}
##about-collam2 p{
    width: 100%;
}