body{
    font-family: 'Poppins', sans-serif;
    margin: 0px
    
    
}
#nav-ber{
    background-color: black;
    padding: 10px;
    margin-top: 0px;
    
    
}
li{
    display: inline;
    color: white;
    margin: 10px;
    


}
li a{
    text-decoration: none;
    color: aliceblue;

}
li:hover{
    background-color: orange;
    padding: 10px;

}
    
}